
.permisos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.permiso-tag {
    background-color: #eef2ff;
    color: #4338ca;
    padding: 4px 10px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;

   
    &.all-access {
        background-color: #e0fff1;
        color: #00995c;
    }
}

.permiso-counter {
    background-color: #f1f1f1;
    color: #5e6278;
    padding: 4px 10px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e4e4e4;
    }
}