<div class="modal-content">
  <div class="modal-header" id="kt_modal_add_user_header">
    <h2 class="fw-bolder">Añadir usuario</h2>
    <div
      class="btn btn-icon btn-sm btn-active-icon-primary"
      data-kt-users-modal-action="close"
      (click)="modal.dismiss()"
    >
      <span class="svg-icon svg-icon-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <rect
            opacity="0.5"
            x="6"
            y="17.3137"
            width="16"
            height="2"
            rx="1"
            transform="rotate(-45 6 17.3137)"
            fill="currentColor"
          />
          <rect
            x="7.41422"
            y="6"
            width="16"
            height="2"
            rx="1"
            transform="rotate(45 7.41422 6)"
            fill="currentColor"
          />
        </svg>
      </span>
      </div>
    </div>
  <div class="modal-body scroll-y mx-5 my-3">
    <form id="kt_modal_add_user_form" class="form" action="#">
      <div
        class="d-flex flex-column scroll-y me-n7 pe-7"
        id="kt_modal_add_user_scroll"
        data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}"
        data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_add_user_header"
        data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
        data-kt-scroll-offset="300px"
      >
        <div class="row gy-3">
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Nombre: </label>
            <input
              type="text"
              name="name"
              class="form-control form-control-solid"
              placeholder="Nombre"
              [(ngModel)]="name"
            />
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Apellido: </label>
            <input
              type="text"
              name="surname"
              class="form-control form-control-solid"
              placeholder="Apellido"
              [(ngModel)]="surname"
            />
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Email: </label>
            <input
              type="email"
              name="email"
              class="form-control form-control-solid"
              placeholder="example@gmail.com"
              [(ngModel)]="email"
            />
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Teléfono: </label>
            <input
              type="number"
              name="phone"
              class="form-control form-control-solid"
              placeholder="99999999"
              [(ngModel)]="phone"
            />
          </div>
        </div>

        <div class="row gy-3 mt-3">
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2"
              >Tipo de documento:
            </label>
            <select
              class="form-control form-select-solid fw-bolder"
              name="categorie"
              placeholder="Selec. Tipo"
              [(ngModel)]="type_document"
            >
              <option value="cedula de ciudadania">cedula de ciudadania</option>
              <option value="carnet de extranjeria">
                carnet de extranjeria
              </option>
              <option value="pasaporte">pasaporte</option>
            </select>
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">N° de documento: </label>
            <input
              type="number"
              [(ngModel)]="n_document"
              name="n_document"
              class="form-control form-control-solid"
              placeholder="99999999"
            />
          </div>
        </div>

        <div class="row gy-3 mt-3">
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Genero: </label>
            <div class="d-flex">
              <div class="form-check me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  [checked]="gender == 'MASCULINO'"
                  (click)="gender = 'MASCULINO'"
                  id="gender1"
                />
                <label class="form-check-label" for="gender1">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  [checked]="gender == 'FEMENINO'"
                  (click)="gender = 'FEMENINO'"
                  id="gender2"
                />
                <label class="form-check-label" for="gender2"> Femenino </label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Roles: </label>
            <select
              class="form-control form-select-solid fw-bolder"
              name="role_selected"
              placeholder="Seleccionar Rol"
              [(ngModel)]="role_id"
            >
              <option value="">Seleccionar Rol</option>
              <ng-container *ngFor="let rol of roles">
                <option [value]="rol.id">{{ rol.name }}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="row gy-3 mt-3">
          <div class="col-12 fv-row">
            <label class="required fw-bold fs-6 mb-2">Dirección: </label>
            <textarea
              name="address"
              id="address"
              rows="3"
              class="form-control form-control-solid"
              [(ngModel)]="address"
            ></textarea>
          </div>
          <div class="col-12 fv-row">
            <label class="required fw-bold fs-6 mb-2">Sucursales: </label>
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let sucursal of sucursales">
                <div class="form-check mx-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sucursal"
                    [id]="'sucursal-' + sucursal.id"
                    [value]="sucursal.id"
                    [(ngModel)]="sucursale_id"
                  />
                  <label
                    class="form-check-label"
                    [for]="'sucursal-' + sucursal.id"
                  >
                    {{ sucursal.name }}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row gy-3 mt-3">
          <div class="col-12 fv-row">
            <label class="required fw-bold fs-6 mb-2">Avatar: </label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="customFile"
                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
                (change)="processFile($event)"
              />
              <label class="custom-file-label" for="customFile"
                >Seleccionar archivo</label
              >
            </div>
            <div *ngIf="imagen_previzualiza" class="mt-2">
              <img
                [src]="imagen_previzualiza"
                style="height: 100px; border-radius: 8px"
                alt="Vista previa del avatar"
              />
            </div>
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2">Contraseña: </label>
            <input
              type="password"
              name="password"
              class="form-control form-control-solid"
              placeholder="*******"
              [(ngModel)]="password"
            />
          </div>
          <div class="col-12 col-md-6 fv-row">
            <label class="required fw-bold fs-6 mb-2"
              >Repetir Contraseña:
            </label>
            <input
              type="password"
              name="password_repit"
              class="form-control form-control-solid"
              placeholder="********"
              [(ngModel)]="password_repit"
            />
          </div>
        </div>
      </div>
      <div class="text-center pt-15">
        <button
          type="reset"
          class="btn btn-light me-3"
          (click)="modal.dismiss()"
        >
          Cerrar
        </button>
        <button
          type="button"
          (click)="store()"
          class="btn btn-primary"
          data-kt-users-modal-action="submit"
        >
          <span class="indicator-label">Registrar</span>
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
            *ngIf="isLoading | async"
          ></span>
        </button>
      </div>
      </form>
    </div>
  </div>